.card {
    height: 100%;
    border-radius: 0;

    &-body {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-bottom: 0;
    }

    &-footer {
        padding: 0;
    }
    
    
    form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
}