@import '../../scss/_grid';
@import '../../scss/_components';

.header {
    background-color: #000;
    width: 100%;
    height: 50px;
    color: #fff;

    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        font-size: 30px;
        line-height: 45px;
        color: #fff;
        text-decoration: none;
    }
}